{% extends 'layout.html'%}


{%block title%}
articulos
{%endblock%}




{%block content%}
    <h2 class="title">Listado de articulos</h2>
    <hr/>
        {%if messages %}
        {%for message in messages%}
            <div class="message">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}

    {%for articulo in articulos%}
        <article class="article-item">
            <div class="image">
                {%if articulo.image and articulo.image != 'null'%}
                    <img src='{{articulo.image.url}}'>
                {%endif%}
            </div>
            <div class='data'>
                <h2>{{articulo.id}}. {{articulo.title}}</h2>
               
                {{articulo.content}}
                <span class='date'>{{articulo.created_at}}</span>
                
                <a href='{% url 'borrar' articulo.id %}' class='btn btn=delete'>eliminar</a>
            </div>
            <div class="clearfix"></div>
        </article>
    {% endfor %}

{%endblock%}