{% extends 'layout.html'%}
{%block title%}
Formulario
{%endblock%}




{%block content%}
    <h2 class="title">Formulario</h2>
    <form action="{%url "makearticulo"%}" method="POST">
        {% csrf_token %}
        <label for="title">Titutlo</label>
        <input type"text" name="title" placeholder="pon el Titulo">

        <label for="content">Contenido</label>
        <textarea name="content" placeholder="pon el Contenido"></textarea>

        <label for="published">¿Publicado?</label>
        <select name="published">
            <option value="1">SI</option>
            <option value="0">NO</option>
        </select>

        <input type="submit" value="Guardar"/>
    </form>
{%endblock%}